$color-primary: #003366;
$color-secondary: #FCBA19;
$color-text: #313132;
$color-link: #1A5A96;
$bg-light: #F2F2F2;
$bg-nav: #38598A;
$color-component: #606060;
$color-success: #2E8540;
$color-error: #D8292F;